<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TourManagerEntities" connectionString="metadata=res://*/DTOEntities.csdl|res://*/DTOEntities.ssdl|res://*/DTOEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;|DataDirectory|\Resource\db\TourManager.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <!--<add name="TourManagerEntities" connectionString="metadata=res://*/DTOEntities.csdl|res://*/DTOEntities.ssdl|res://*/DTOEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;E:\7ung doc\7th Simeter\OOD2\QuanLyTourDuLich\QuanLyTourDuLich\Resources\db\TourManager.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="TourManagerEntities" connectionString="metadata=res://*/DTOEntities.csdl|res://*/DTOEntities.ssdl|res://*/DTOEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=E:\Projects\QuanLyTourDuLich\QuanLyTourDuLich\Resources\db\TourManager.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
